* {
  font-family: 'Young Serif', serif !important;
}

.App {
  overflow-x: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  color: white;
}

.Profile,
.Home {
  padding-top: 80px;
}

.backdrop_opacity {
  background-color: rgba(0, 0, 0, 0.75);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
}

.navbar_back_image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0));
  transition: all .3s;
}

.navbar_back {
  background-color: rgb(18, 18, 18);
  transition: all .3s;
}

.content {
  padding-bottom: 10px !important;
  padding: 5px;
}

.modal_content {
  padding: 20px;
}

.modal_dropdowns {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.select {
  margin: 20px;
  width: 200px;
}

.home_grid {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.page_header_text {
  font-size: 60px;
  font-weight: bolder;
  margin-left: 10px;
}

.logo {
  height: auto;
  width: 160px;
  cursor: pointer;
  transition: all .8s;
}

.logo_onscroll {
  width: 100px;
  height: auto;
  cursor: pointer;
  transition: all .8s;
}

::-webkit-scrollbar {
  display: none !important;
}

.trending_scroll {
  display: flex;
  overflow: auto;
}

.search_placeholder {
  background-color: black;
  border-radius: 6px;
  padding: 6px 12px;
}

.trending_scroll_responsive {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.type_name {
  text-transform: capitalize;
}

.single_game_tile_poster {
  object-fit: cover;
  height: 200px;
  width: 320px;
  border-radius: 10px 10px 0 0;
}

.single_game_tile_content {
  padding: 10px;
  max-width: 320px;
}

.pictures {
  display: flex;
  align-items: center;
  overflow: auto;
}

.picture {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin: 5px;
  cursor: pointer;
}

.loading_recommendation {
  height: 330px;
  display: flex;
  align-items: center;
}

.single_game_tile {
  background-color: rgb(43, 43, 43);
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  transition: all .3s;
  width: fit-content;
  height: fit-content;
  min-height: 350px;
}

.single_game_tile:hover {
  transform: scale(103%);
  transition: all .3s;
}

.single_game_tile_title {
  font-size: 20px;
  color: white;
  margin-top: 10px;
}

.single_game_tile_content_top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.platform_icon_small {
  height: 22px;
  width: auto;
  margin: 2px;
}

.platform_icon_large {
  height: 35px;
  width: auto;
  margin: 5px;
}

.single_game_scroll_platforms {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.rating {
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  width: fit-content;
  font-size: small;
  border-radius: 4px;
}

.trending_title {
  font-weight: bold;
  font-size: 24px;
}

.readmore {
  font-size: 12px;
  margin-left: 5px;
  cursor: pointer;
}

.screenshot {
  width: 97%;
  margin: auto;
  margin-top: 20px;
}

.screenshots {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.released {
  background-color: white;
  color: black;
  padding: 4px;
  width: fit-content;
  border-radius: 4px;
}

.single_platform {
  border-radius: 10px;
  margin: 10px;
  background-size: cover;
  color: white;
  min-width: 200px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.input_search {
  font-size: 20px !important;
  padding: 5px;
}

.single_platform_content {
  background: rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.platforms {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.navbar__img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  margin-left: 10px;
  border-radius: 50%;
  border-color: transparent;
  border-width: 1.2px;
  padding: 1.2px;
  border-style: solid;
}

.navbar__img_active {
  height: 45px;
  width: 45px;
  object-fit: cover;
  margin-left: 10px;
  border-radius: 50%;
  border-width: 2px;
  padding: 1.2px;
  border-style: solid;
}

.navlink {
  transition: transform .2s;
  margin: 0 10px;
}

.navlink:hover {
  transform: scale(0.9);
}

.discover_movies_title {
  font-weight: bold;
  margin: 0px 10px;
  font-size: 40px;
  color: white;
}

.searchresultfor {
  margin: 0px 10px;
  font-size: 14px;
  color: lightgray;
}

.profile_header {
  display: grid;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 20px;
}

.User {
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  transition: transform .2s;
  height: 250px;
  align-items: flex-end;
  display: flex;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.User:hover {
  transform: scale(0.95);
}

.user_username {
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  width: 100%;
}

.profile_image {
  height: 400px;
  width: 300px;
  border-radius: 10px;
  object-fit: cover;
}

.profile_username {
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
}

.profile_actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.refresh_icon {
  padding: 0 5px !important;
}

.overview {
  margin: 10px 0px;
}

.actions {
  margin: 20px 0px;
  display: flex;
}

.mobile {
  display: none;
}

.pc {
  display: block;
}

.genrelist {
  border-width: 1px;
  border-style: solid;
  padding: 3px;
  margin: 2px;
  border-radius: 8px;
  font-size: 14px;
}

.single_review {
  margin: 10px;
}

.share_user {
  display: flex;
  cursor: pointer;
  margin: 10px;
}

.share_user_image {
  height: 35px;
  width: 35px;
  border-radius: 8px;
  object-fit: cover;
}

.share_user_username {
  opacity: 0.8;
  margin-left: 10px;
  font-weight: bold;
  font-size: 20px;
}

.share_user_username:hover {
  opacity: 1;
}

.addreview {
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px;
  opacity: 0.7;
  display: flex;
  align-items: center;
}

.addreview:hover {
  opacity: 1;
}

.reviews {
  padding-bottom: 100px;
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 50vh;
  align-items: center;
}

.login__container {
  padding: 40px;
  min-width: 400px;
  text-align: center;
}

.login__text>h4 {
  font-size: 40px;
  color: white;
}

.login__text {
  margin-bottom: 30px;
}

.login__withGoogle {
  cursor: pointer;
  flex: 1;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid lightgray;
  width: 300px;
  margin-top: 40px;
  color: white;
}

.login__withGoogle>img {
  height: 25px !important;
  margin-right: 10px;
}

.login__withGoogle:hover {
  background-color: rgb(102, 187, 106);
  color: black;
}

.singlecontentposter_responsive {
  display: none;
}

.filter_icon {
  width: 35px !important;
  height: 35px !important;
}

.details {
  padding: 10px;
}

@media only screen and (max-width: 600px) {

  .filter_icon {
    width: 30px !important;
    height: 30px !important;
  }

  .trending_title {
    font-size: 20px;
  }

  .profile_header {
    display: grid;
    justify-content: center;
    align-items: center;
    place-items: center;
  }

  .navlink {
    margin: 0 5px;
  }

  .search_placeholder {
    background-color: black;
    border-radius: 6px;
    padding: 4px 8px;
  }

  .page_header_text {
    font-size: 30px;
  }

  .logo {
    width: 130px;
  }

  .user_username {
    font-size: 16px;
  }

  .user_image {
    height: 200px;
  }

  .profile_username {
    font-size: 25px;
  }

  .profile_image {
    height: 300px;
    width: 250px;
  }

  .screenshots {
    width: 100%;
    grid-template-columns: 1fr;
  }

  .input_search {
    font-size: 16px !important;
    padding: 2px;
  }

  .single_platform {
    margin: 5px;
    min-width: 100px;
    font-size: 16px;
  }

  .platform_icon_small {
    height: 16px;
    width: auto;
    margin: 2px;
  }

  .single_game_tile_title {
    font-size: 16px;
  }

  .navbar_icon {
    height: 30px;
    width: 30px;
  }

  .navbar__img {
    height: 35px;
    width: 35px;
  }

  .navbar__img_active {
    height: 35px;
    width: 35px;
  }

  .discover_movies_title {
    font-size: 30px;
  }
}

@media only screen and (max-width: 880px) {

  .actions {
    display: grid;
  }

  .details {
    padding: 5px;
  }

  .pc {
    display: none;
  }

  .mobile {
    display: block;
  }

  .trailer {
    height: 30vh;
  }

  .tagline {
    color: unset;
  }
}

@media screen and (max-width: 990px) {
  .login__container>img {
    height: 110px;
  }

  .login__container {
    padding: 20px;
    min-width: 320px;
  }

  .login__withGoogle>span {
    font-size: 15px;
  }

  .login__withGoogle>img {
    height: 20px !important;
    margin-right: 10px;
  }
}